.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-bottom: 140px;
}

.message {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.myMessage {
    justify-content: flex-end;
}

.otherMessage {
    justify-content: flex-start;
}

.systemMessage {
    justify-content: center;
}

.systemMessage .messageContent {
    padding: 0.2rem 0.4rem;
}

.systemMessage .messageContent .author {
    margin-right: 0;
}

.messageContent {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    padding: 0.4rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    font-size: 1rem;
}

.author {
    font-weight: bold;
    color: #007bff;
    margin-right: 0.5rem;
}

.text {
    word-break: break-word;
    color: #222;
}

.messageInputContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #eee;
    background: #fff;
    border-radius: 20px;
}

.messageInput {
    flex: 1;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.button {
    padding: 0.6rem 2rem;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background: #007bff;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}

@media (max-width: 360px) {
    .button {
        padding: 0.6rem 1rem;
    }
}