$main-text-color: white;
$main-font: Arial, Helvetica, sans-serif;
$markup-color: rgb(88, 87, 107);

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
    position: relative;
}

.windows {
    flex-grow: 1;
}

chat-side-bar.hidden {
    display: none;
}


