$first-color: #363636;
$second-color: white;
$third-color: rgb(29, 155, 240);
$third-color-hover: rgb(62, 164, 232);
$font: Arial, Helvetica, sans-serif;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greetingsContainer {
    margin-bottom: 300px;
    text-align: center;
}

.greetings {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: $font;
    color: $first-color;
}

.title {
    font-size: 24px;
    font-family: $font;
    color: $first-color;
}

.buttonsContainer {
    display: flex;
    gap: 60px;
}

.signInButton,
.signUpButton {
    width: 270px;
    height: 110px;
    border: none;
    border-radius: 80px;
    background-color: $third-color;
    font-family: $font;
    font-size: 36px;
    color: $second-color;
    box-shadow: 4px 4px 18px rgba(29, 155, 240, 0.2);
    cursor: pointer;

    &:hover {
            background-color: $third-color-hover;
    }
}

@media (max-width: 768px) {
    .greetingsContainer {
        margin-bottom: 150px; // уменьшаем отступ
    }

    .greetings {
        font-size: 24px; // уменьшаем заголовок
    }

    .title {
        font-size: 20px;
    }

    .buttonsContainer {
        gap: 30px; // уменьшаем расстояние между кнопками
        flex-wrap: wrap; // перенос на новую строку, если не помещается
        justify-content: center;
    }

    .signInButton,
    .signUpButton {
        width: 200px;   // уменьшаем ширину
        height: 80px;   // уменьшаем высоту
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .greetingsContainer {
        margin-bottom: 200px;
    }

    .greetings {
        font-size: 26px;
    }

    .title {
        font-size: 20px;
    }

    .buttonsContainer {
        gap: 20px;
    }

    .signInButton,
    .signUpButton {
        width: 170px;
        height: 70px;
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .greetingsContainer {
        margin-bottom: 200px;
    }

    .greetings {
        font-size: 26px;
    }

    .title {
        font-size: 20px;
    }

    .buttonsContainer {
        gap: 20px;
    }

    .signInButton,
    .signUpButton {
        width: 150px;
        height: 80px;
        font-size: 20px;
    }
}